body {
    margin: 0;
    height: 100;
}

.header {
    padding: 15px 0;
    background-color: antiquewhite;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content-img { border: solid 0px #42515f;}

.emp-text {
    font: normal normal bold 20px/25px Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: darkolivegreen;
    text-transform: capitalize;
}

.emp-payroll {color: darkslategray; }

* { box-sizing: border-box; }

.form-content {
    min-height: calc(100% 80%);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 solid green;
}

.form {
    width: 65%;
		padding: 44px 60px;
		border-radius: 8px;
		opacity: 1;
		border: 1px solid #f5f5f5;
		box-shadow: 0px 3px 6px #00000029;
		background: white 0% 0% no-repeat padding-box;
}

.form-head {
	font: normal normal bold 25px/38px Arial;
	letter-spacing: 0px;
	color: darkblue;
	text-transform: capitalize;
	opacity: 1;
	padding-bottom: 20px;
	
}

.row-content{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
	border: 0px solid green;
}

.label{
	min-width: 140px;
}

label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}

.text{
	font-size: 16px;
	color: black;
	opacity: 1;
	font-family: Arial, Helvetica, sans-serif;
}

.input{
	width: 100%;
	padding:12px;
	border:1px solid gainsboro;
	border-radius:4px;
	resize: vertical;
}
.profile-radio-content {
	display: flex;
	flex-direction: row;
}

.profile-radio-content > label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile {
	width: 40px;
	border-radius: 50%;
	margin-left: 12px
}